@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tiptap {
    @apply mt-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-lime-500 dark:focus:border-lime-500
  }

  /* .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  } */

  .tiptap p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .floating-menu {
    @apply bg-gray-700 dark:bg-gray-300 text-white dark:text-gray-800
  }
}

@layer components {
  /* tags */
  .tag-container, .tag_container_custom {
    @apply bg-red-500
  }

  .tag_name_custom {
    @apply text-xs
  }

  .input-wrapper input {
    @apply bg-rose-500 text-red-500
  }
}

.m-select-list {
  @apply mt-2 w-full scrollbar-thin
}

.m-select-list__scroll-wrapper {
  @apply scroll-smooth scrollbar-none
}

.m-btn.--is-button.--no-padding {
  @apply p-0 min-h-2 hover:bg-transparent !important
}
